<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>

    <!-- link for the stylesheet -->
    <link rel="stylesheet" href="/css/stylesheet.css" />

    <!-- link of the CDN for logos -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- link for the fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <!-- navigation bar -->
      <div class="navbar">
        <div class="logo"></div>
        <div class="nav-elements">
          <div class="nav-buttons">
            <a href="index.html"><p>Home</p></a>
            <p>Order</p>
            <a href="index.html#categoriesbuffer"><p>Categories</p></a>
            <a href="index.html#postersbuffer"><p>Posters</p></a>
          </div>
          <div class="nav-search">
            <input placeholder="Search" />
            <button class="search-nav-button">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="nav-cart">
            <a href="cart.html"
              ><i class="fa-solid fa-cart-shopping"></i
              ><span id="cart-count">0</span></a
            >
          </div>
          <div class="nav-profile-logo">
            <a href="account.html"><i class="fa-regular fa-user"></i></a>
          </div>
        </div>
      </div>

      <!-- Navbar part for ad -->
      <div class="ad">
        FREE SHIPPING & QUICK DISPATCH OF ALL ORDERS WITHIN 48 HRS
      </div>
    </header>

    <!-- cart items details -->
    <cart>
      <div class="small-container cart-page">
        <table>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
          <tr>
            <td>
              <div class="cart-info">
                <img src="posters/batman.jpg" />
                <div>
                  <p>Batman</p>
                  <small>Price: $17.20</small>
                  <br />
                  <a href="">Remove</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" /></td>
            <td>$17.20</td>
          </tr>
          <tr>
            <td>
              <div class="cart-info">
                <img src="posters/GPE5461-the-boys.jpg" />
                <div>
                  <p>The Boys</p>
                  <small>Price: $15.00</small>
                  <br />
                  <a href="">Remove</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" /></td>
            <td>$15.00</td>
          </tr>
          <tr>
            <td>
              <div class="cart-info">
                <img src="posters/ironman.webp" />
                <div>
                  <p>Ironman</p>
                  <small>Price: $17.20</small>
                  <br />
                  <a href="">Remove</a>
                </div>
              </div>
            </td>
            <td><input type="number" value="1" /></td>
            <td>$17.20</td>
          </tr>
        </table>

        <div class="total-price">
          <table>
            <tr>
              <td>Subtotal</td>
              <td>$200.00</td>
            </tr>
            <tr>
              <td>Taxesl</td>
              <td>$200.00</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>$200.00</td>
            </tr>
          </table>
        </div>
      </div>
    </cart>
    <!-- footer of the website -->
    <footer>
      <div class="footer-block">
        <!-- footer is divided in two divs
            One is for links and other is for the copyright statement -->

        <!-- footer for links -->
        <div class="footer-top">
          <div class="footer-item" id="first">
            <h5 class="footer-heading" id="vision">Vision</h5>
            <span>Creativity, Expression, & Exploration</span>
          </div>

          <div class="footer-item" id="second">
            <h5 class="footer-heading">Pages</h5>
            <a><span class="footer-link">About us</span></a>
            <a><span class="footer-link">Contact us</span></a>
            <a><span class="footer-link">Terms and condition</span></a>
            <a><span class="footer-link">Refunds/cancellation</span></a>
            <a><span class="footer-link">FAQ</span></a>
          </div>

          <div class="footer-item" id="third">
            <h5 class="footer-heading">My Account</h5>
            <a><span class="footer-link">Log in</span></a>
            <a><span class="footer-link">Register</span></a>
            <a><span class="footer-link">Track Order</span></a>
          </div>

          <div class="footer-item" id="fourth">
            <h5 class="footer-heading">Follow Us</h5>
            <div class="social-link">
              <i class="fa-brands fa-x-twitter"></i>
              <a><span class="footer-link">Twitter</span></a>
            </div>
            <div class="social-link">
              <i class="fa-brands fa-facebook"></i>
              <a><span class="footer-link">Facebook</span></a>
            </div>
            <div class="social-link">
              <i class="fa-brands fa-instagram"></i>
              <a><span class="footer-link">Instagram</span></a>
            </div>
          </div>
        </div>

        <hr class="copyright-bar" />

        <!-- footer for copyright -->
        <div class="footer-bottom">
          <h3 class="Copyrights">
            Copyrights <i class="fa-regular fa-copyright"></i> 2024
          </h3>
        </div>
      </div>
    </footer>
  </body>
</html>
